/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #cdb7aa;
    --primary-foreground: #e6d4ca;
    --secondary: #9fac9b;
    --secondary-foreground: #bdc9bd;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --h1-color: #000000;
    --light: #f6efe9;
    --lightgrey: #e6e4e5;
    --btn-clr: #a9b4a4;
    --light-dark: #797d85;
    --border-clr: #bdc9bd;
    --hover-border-clr: #aab8aa;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-lightgrey;
  }
}

.Hero-slider .slick-dots {
  bottom: 4px !important;
  left: -35px !important;
}

.Hero-slider .slick-dots li button:before {
  font-size: 19px !important;
  color: #fff !important;
}
.Hero-slider .slick-dots .slick-active :before {
  font-size: 19px !important;
}

.Hero-slider .slick-dots li.slick-active button:before {
  color: var(--secondary-foreground) !important;
}

.Hero-slider .slick-prev,
.Hero-slider .slick-next {
  display: none !important;
}
.clip-custom-shape {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 51%, 0% 0%);
}
.custom-breadcrum .ant-breadcrumb a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.custom-breadcrum .ant-breadcrumb ol {
  align-items: center !important;
}
.Hero-slider .slick-track:before,
.Hero-slider .slick-track:after {
  display: none;
}
.css-t3ipsp-control {
  box-shadow: 0 0 0 1px black !important;
}
.css-t3ipsp-control:hover {
  border-color: black !important;
}
.happy_customer .slider-container .slick-dots li button:before {
  font-size: 19px !important;
  color: #bdc9bd !important;
  top: 40px;
}
.custom-datepicker .react-datepicker-wrapper {
  width: 100%;
}
/* .css-1nmdiq5-menu > div {
} */
/* .react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 26px !important;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -10px !important;
}
.react-tel-input .flag {
  width: 22px !important;
  border-radius: 14px;
  height: 20px !important;
}
.react-tel-input .selected-flag {
  padding: 0 0 0 4px !important;
} */
