
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; 
}

/* Columns should take equal width and allow them to grow */
.column {
  flex: 1 1 calc(25% - 20px); /* Makes columns responsive and flexible with 20px gap */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}
.Gallery_column {
  flex: 1 1 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  /* justify-content: space-between; */
  margin-bottom: 20px;
}
